// .babelrc
{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 0.5%",
          "last 2 versions"
        ]
      }
    }]
  ],
  "plugins": [
    "external-helpers"
  ]
}
