html {
  font-size: $font-size-root;
}

body {
  background: $white;
  color: $black;
  font-size: $font-size-base-m;
  font-family: $font-family-base;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  @include respond-above(md) {
    font-size: $font-size-base;
  }
}
