// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
$main-font: "Open Sans", sans-serif;

// Base
$font-size-root:   62.5%;       // html tag to make 1em equal 10px
$font-size-base:   1.8rem;      // body tag
$font-size-base-m: 1.6rem;      // body tag mobile
$font-family-base: $main-font;  // add your custom font-face here

// Colors
$white: #fff;
$black: #000;
$primary-color: #00aeef;

// Breakpoints & Media Queries
$breakpoints: (
  xs: 414px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);
