extends layout/_base

append config
  - var bodyClass = 'home'

block content
  .Home This is my index
  .sketchfab-embed-wrapper
    iframe(width="640" height="480" src="https://sketchfab.com/models/3e70dea414584243a2f909a0441094a2/embed?autospin=0.2&amp;autostart=1&amp;camera=0&amp;preload=1&ui_infos=0&ui_controls=0&ui_stop=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true" transparent ui_controls="false")
